* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* x-small screen */
@media screen and (max-width: 767px) {
  .container {
    width: 100%;
    /* background-color: #fff; */
  }
}

/* small screen */
@media screen and (min-width: 768px) {
  .container {
    /* background-color: pink; */
  }
}

/* medium screen */
@media screen and (min-width: 992px) {
  .container {
    /* background-color: blue; */
  }
}

/* big screen */
@media screen and (min-width: 1200px) {
  .container {
    background-color: lightblue;
  }

  html {
    font-size: 16px;
  }
}

.container {
  width: 94%; /* container does not stretch full screen */
  height: 100%;
  margin: 0 auto; /* container is centered */
}

header {
  width: 100%; /* background for header-container*/
  height: 150px;
  background-color: #2b2b2b;
}

.header-container {
  position: relative;
  /* border: 1px solid coral; */
}

.login-box {
  position: absolute;
  top: 10px;
  right: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #25b5fd;
  font-size: 1rem;
}

.login-box p:nth-child(1) {
  color: white;
  font-size: 2.5rem;
}

.login-box p:nth-child(3) {
  font-size: 3rem;
}

.nav-list {
  position: absolute;
  left: 0;
  bottom: 25px;
  display: flex;
  flex-direction: row;
}

.nav-list li {
  list-style-type: none;
  margin-right: 2rem;
}

.nav-list a {
  text-decoration: none;
  color: #969696;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 1.5rem;
}

.nav-list span {
  color: #25b5fd;
  font-size: 1.8rem;
  transform: translateY(5px);
  margin-right: 0.5rem;
}

.nav-list a:focus {
  color: white;
}

.logo-box {
  position: absolute;
  right: 0;
  bottom: 25px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.logo-box h1 {
  color: white;
  font-family: "Bree Serif", serif;
  font-size: 3.5rem;
  height: 3.5rem;
  line-height: 3.5rem;
}

.logo-box p {
  color: white;
  font-size: 3.5rem;
  height: 3.5rem;
}

/* start from below */

main {
  width: 100%;
  height: 70rem;
  background-color: #efefef;
}

.main-container {
  border: 1px solid purple;
}

main h1 {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 2rem;
  color: #4e4e4e;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.cardholder {
  width: 100%;
  border: 1px solid salmon;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  row-gap: 1.5rem;
  justify-items: start;
  justify-content: stretch;
}

card {
  width: 17rem;
  height: 26rem;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0 0 6px 3px rgb(0 0 0 / 0.2);
  font-family: "Roboto Condensed", sans-serif;
}

#card1 div:nth-child(1) {
  background: url("images/floating-cat.jpg");
  background-size: cover;
}
#card2 div:nth-child(1) {
  background: url("images/processing-cat.jpeg");
  background-size: cover;
}
#card3 div:nth-child(1) {
  background: url("images/doorjacking-cat.jpeg");
  background-size: cover;
}
#card4 div:nth-child(1) {
  background: url("images/finger-cat.jpeg");
  background-size: cover;
}
#card5 div:nth-child(1) {
  background: url("images/dj-cat.jpeg");
  background-size: cover;
}
#card6 div:nth-child(1) {
  background: url("images/thinking-cat.jpg");
  background-size: cover;
}
#card7 div:nth-child(1) {
  background: url("images/weed-cat.jpeg");
  background-size: cover;
}
#card8 div:nth-child(1) {
  background: url("images/wasted-cat.jpeg");
  background-size: cover;
}

.card-img {
  width: 100%;
  height: 35%;
  position: relative;
  /* background-size: cover !important;  does not work */
}

.dim-mask {
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.4) !important; /* here !important works..... why??? */
}

.dim-mask:hover {
  /*hover is not quite stable as any mouse move over the image will trigger/untrigger hover, causing an uncomfortable lightening effect. Could use :active instead*/
  visibility: hidden;
}

img.share-icon {
  position: absolute;
  top: 1rem;
  left: 0.6rem;
}

.views-box {
  position: absolute;
  top: 1rem;
  right: 1.3rem;
}

.views-box p {
  color: white;
  font-size: 1rem;
  /* width: 48px; */
}

.views-box p:nth-child(2) {
  font-size: 2rem;
  letter-spacing: 0.5rem;
}

.recipient-box,
.url-box,
.playlist-box,
.attachment-box {
  margin-left: 1rem;
}

.recipient-box p:nth-child(1) {
  font-size: 1.2rem;
  color: #626262;
}

.recipient-box p:nth-child(2) {
  font-size: 0.9rem;
  color: #989899;
}

.url-box {
  width: 90%;
  padding: 0.5rem 0.3rem;
  color: #989899;
  background-color: #efefef;
  font-size: 0.9rem;
  overflow-wrap: break-word;
}

.playlist-box {
  color: #626262;
}

.playlist-box p:nth-child(1) {
  font-size: 1rem;
}

.playlist-box p:nth-child(2) {
  font-size: 1.1rem;
}

.attachment-box {
  color: #626262;
  margin-bottom: 1rem;
}

.attachment-box p:nth-child(1) {
  font-size: 1rem;
}

.attachment-box p:nth-child(2) {
  font-size: 1.8rem;
  color: #25b5fd;
}
