* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: pink;
  /* width: 100vw;
  height: 100vh; */
}

header {
  width: 100vw;
  height: 20vh;
  background-color: #2b2b2b;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}

main {
  width: 100vw;
  /* height: 100vh; */
  background-color: #efefef;
}

.card-container {
  width: 96%;
  height: 100%;
  border: 1px solid salmon;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  row-gap: 15px;
  justify-items: center;
  justify-content: right;
}

.nav-left {
  width: 50%;
  height: 80%;
  /* border: 1px solid salmon; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  padding-bottom: 20px;
  padding-left: 25px;
}

.nav-right {
  width: 30%;
  height: 80%;
  /* border: 1px solid salmon; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  padding-bottom: 20px;
  padding-right: 25px;
}

.nav-left li {
  list-style-type: none;
}

.nav-left li img {
  margin-right: 10px;
  vertical-align: middle;
}

.nav-left li p {
  display: inline-block;
  vertical-align: middle;
  color: #717171;
  font-size: 1.8vw;
}

.nav-left li p:hover {
  color: #25b5fd;
}

.login-box {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.logo-box {
  display: flex;
  flex-direction: row;
}

.logo-box h1 {
  color: white;
  letter-spacing: -2px;
  line-height: 48px;
  transform: translateY(15%);
}

.login-box img {
  margin-right: 5px;
}

.login-box p {
  color: #25b5fd;
  margin-right: 5px;
}

#triangle {
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-top-color: #25b5fd;
  transform: translateY(25%);
}

main h1 {
  line-height: 15vh;
  padding-left: 2%;
  color: #4e4e4e;
}

card {
  width: 22vw;
  height: 50vh;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0 0 6px 3px rgb(0 0 0 / 0.2);
}

.card-head {
  width: 100%;
  height: 35%;
  background-color: lightsteelblue;
  position: relative;
}

img.share-icon {
  position: absolute;
  top: 15px;
  left: 10px;
}

.views-box {
  position: absolute;
  top: 15px;
  right: 10px;
}

.views-box p {
  color: white;
  width: 48px;
}

.views-box p:nth-child(2) {
  font-size: 2.5vw;
  letter-spacing: 3px;
}

.recipient-box {
  padding-left: 15px;
}

.recipient-box p:nth-child(1) {
  font-size: 1.5vw;
  color: #626262;
}

.recipient-box p:nth-child(2) {
  font-size: 1.2vw;
  color: #989899;
}

.url-box {
  width: 90%;
  height: 15%;
  margin-left: 15px;
  padding: 8px 5px;
  color: #989899;
  background-color: #efefef;
  overflow-wrap: break-word;
}

.playlist-box {
  padding-left: 15px;
  color: #626262;
}

.playlist-box p:nth-child(1) {
  font-size: 1.2vw;
}

.playlist-box p:nth-child(2) {
  font-size: 1.5vw;
}

.attachment-box {
  padding-left: 15px;
  color: #626262;
}

.attachment-box p:nth-child(1) {
  font-size: 1.2vw;
}

.attachment-box p:nth-child(2) {
  font-size: 2.5vw;
  color: #25b5fd;
}
